.home-page {
    background-image: url('../images/static/main.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {
        background-color: $commonBg;         
    }     
    @media (max-width: $mobile-max) {  
        background-color: $commonBg;           
    } 

    &__title {
        text-align: center;
        padding: 32px 16px;        
    }
    &__category-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        font-size: 22px;
        color: $commonText;
        margin-bottom: 16px;
        @media (max-width: $mobile-max) { 
            flex-direction: column;
        }         
    }      
    &__category-list li {
        margin: 8px 32px;
        box-shadow: 1px 1px 1px 1px rgba($black, 0.4);
        background-color: #fff;
        border-radius: 12px;
        &:hover {
            background-color: $commonBg;
            color: $white;
        }
        @media (max-width: $mobile-max) {  
            background-color: $white;
            border: 1px solid transparent;  
            margin: 8px 16px;          
        }         
    }      
    &__category-list li a {
        display: block;
        padding: 4px 12px;
        color: inherit;
    }     
}
