.nav-admin-panel {
    background-color: rgba($commonBg, 0.1);
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 52px;
    box-shadow: 1px 1px 1px 1px rgba($commonBg, 0.2);
    font-size: 18px;
    margin-bottom: 32px;
    ul {
        display: flex; 
    }
    li:not(:last-child) {
        margin-right: 32px;
    }
    li:first-child a {
        font-weight: 700;
    }        
    a {
        color: rgba($commonText, 0.8);
        cursor: pointer;
    }
    a:hover {
        color: rgb(255, 196, 0);
        transition: 0.5s;
    }
    a:not(:last-child) {
        margin-right: 32px;
    }  
    &__left {
        text-transform: uppercase; 
    }
}


