.btn-group {
    display: flex;
}
.app-btn {
    border: 1px solid rgba($commonText, 0.5);
    border-radius: 3px;
    padding: 6px 12px;
    font-size: 15px;
    color: $white;
}
input[type="submit"] {
    cursor: pointer;
    width: fit-content;    
}
.btn-default {
    background-color: $white;
    color: $commonText;
}
.btn-blue {
    background-color: $blueBg;
}
.btn-green {
    background-color: $greenBg;
}
.btn-warn {
    background-color: $warnBg;
}
.btn-red {
    background-color: $redBg;
}

