
.alert {
    border-radius: 5px;
    padding: 16px 24px; 
    margin-bottom: 16px;
    &__success {
        background-color: #c2eed0;
        border: 2px solid darken(#c2eed0, 10);
    }
    &__warning {
        background-color: #ffe8cf;
        border: 2px solid darken(#ffe8cf, 10);
    }
}
.app-page {
    width: 1000px;
    margin: 0 auto;
    &__title {
        text-align: center; 
        padding: 0;  
        margin-bottom: 32px;
    }
    &__description {
        text-align: center;   
        margin-bottom: 16px;
    }
}

.flex-end {
    justify-content: flex-end;
}
.mb-8 {
    margin-bottom: 8px;
}
