.form {
    &__title {
        text-align: center;
        font-size: 22px;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 16px;
    }
    &__container {
        width: 400px;
        margin: 0 auto;
    }
    &__element {
        display: flex;
        justify-content: flex-end; 
        align-items: center;
        margin-bottom: 8px;      
    }
    &__input-block ol li {  
        font-size: 11px;
        color: red; 
    }
    &__input-block ol {  
        padding-left: 16px;
    }
    label {
        margin-right: 8px;
        font-size: 14px;
    }
    input:not([type="checkbox"]) {
        width: 300px;
        height: 32px;
        margin-bottom: 2px;
    }
    input[type="submit"] {
        width: fit-content;
        cursor: pointer;
    }
    &__remember-block {
        display: flex;
        padding: 8px 0;
    }
    &__btn-block {
        text-align: center;
    }
}