.nav-panel {
    background-color: $commonBg;
    height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    box-shadow: 1px 1px 2px 1px rgba($black, 0.2);
    font-size: 18px;
    margin-bottom: 32px;
    @media (min-width: $desktop-min) and (max-width: $desktop-max) {
        padding: 0 32px;                 
    }     
    @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
        padding: 0 32px;      
    }      
    @media (max-width: $mobile-max) {  
        padding: 0 16px;        
    }     
    ul {
        display: flex; 
    }
    li:not(:last-child) {
        margin-right: 24px;
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            margin-right: 16px;    
        }        
    }
    a {
        color: $white;
        cursor: pointer;
    }
    a:not(:last-child) {
        margin-right: 24px;
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            margin-right: 16px;    
        }         
    }  
    .active {
        border-bottom: 3px solid rgba($white, 0.3);
    }
    &__left {
        text-transform: uppercase; 
    }
    ul li:hover a {
        color: rgb(255, 225, 58);
        transition: 0.5s;
    }
    &__center {
        @media (min-width: $tablet-min) and (max-width: $tablet-max) {  
            display: none;     
        }      
        @media (max-width: $mobile-max) {  
            display: none;       
        }         
    }
    &__right {
        height: 100%;
    }
}


.user-panel {
    line-height: 48px;    

    &__user-name {
        position: relative;
        background-image:  url('../images/icons/arrow-down.svg');  
        background-repeat: no-repeat;
        background-position: (100% 57%);
        background-size: 18%;
        padding-right: 18px;
        color: $white;
        cursor: pointer;
    }
    &__form {
        background-color: $commonBg;    
        box-shadow: 1px 1px 2px 1px rgba($black, 0.2);
        border-radius: 4px;
        padding: 2px 0;
        position: absolute;
        right: -240px;
        top: 60px;
        transition: 0.5s;
        width: 240px;
        &.user-menu-active {
            right: -10px;
        }
        &.admin-user-panel {
            background-color: rgba($commonBg, 0.1);        
        }        
    }
    &__form-header {
        padding: 1px 0 0 2px;
    }    
    &__close-btn {
        background-image:  url('../images/icons/arrow-down.svg'); 
        background-repeat: no-repeat;  
        width: 16px;
        height: 16px;     
        background-size: 100%;   
        transform: rotate(270deg); 
        cursor: pointer;
    }
    &__form ul {
        flex-direction: column;
    }
    &__form ul li {
        height: 42px;
        width: 100%;
        line-height: 42px;
        padding: 0 16px;
        border-bottom: 1px solid lighten($commonBg, 6);
    }
    &__form ul li:hover {
        transition: 0.5s;
        background-color: lighten($commonBg, 8);
    }  
}
