* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Nunito', sans-serif;
    color: $commonText;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
button {
    background-color: $white;
    cursor: pointer;
}