/* ---- screen sizes ---- */
$desktop-max: 1439px;
$desktop-min: 1024px;
$tablet-max: 1023px;
$tablet-min: 768px;
$mobile-max: 767px;

/* ---- colors ---- */
$commonBg: #4d7489;
$adminBg: lighten($commonBg, 48);
$commonText: #274777;

$black: black;
$white: white;
$lightGrey: lightGrey;
$grey: grey;

$redBg: #e23737;
$orangeBg: #e28f37;
$greenBg: #2d956d;
$blueBg: #0070d3;

/* ---- radius ---- */
$formInputRadius: 3px;